<app-header-registrar>
</app-header-registrar>
<div class="container">
    <div class="box form-box">
        <header>Registrar</header>
        <form action="" method="post">
            <div class="field input">

                <label for="Nome">Nome Completo:</label>
                <input type="text" name="Nome" id="nome" placeholder="Digite o seu nome" required>
                <label for="Email">endereço de email:</label>
                <input type="email" name="email" id="mail" placeholder="Digite o seu sobrenome" required>
                <label for="Telemovel">Telemóvel:</label>
                <input type="number" name="telemovel" id="telefone" placeholder="Digite o seu nome de usuário"
                    required>
                <label for="Nome de Usuário">Contacto:</label>
                <input type="number" name="contacto" id="contacto" placeholder="Digite o seu número" required>
            </div>

            <div class="field input">

                <label for="password">Senha</label>
                <input type="password" name="password" id="password" placeholder="Digite a sua senha" required>
            </div>

            <div class="field">
                <input type="submit" class="btn" name="submit" value="Criar Conta">
            </div>
        </form>

    </div>


</div>
